<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AtlasSSH" version="2.3.8-beta1" targetFramework="net452" />
  <package id="CommandLineParser" version="2.0.275-beta" targetFramework="net452" />
  <package id="CredentialManagement" version="1.0.2" targetFramework="net452" />
  <package id="DiVertAnalysisROOTLINQ" version="1.0.34-beta1" targetFramework="net452" />
  <package id="DNS" version="1.2.2" targetFramework="net452" />
  <package id="LINQToTTree-Head" version="0.51.0-build466" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="NVelocity" version="1.0.3" targetFramework="net452" />
  <package id="Polly" version="4.2.4" targetFramework="net452" />
  <package id="Remotion.Linq" version="2.0.3-x-009-160302-230435" targetFramework="net452" />
  <package id="ROOT.NET.Core" version="5.34.36.11" targetFramework="net452" />
  <package id="ROOT.NET.Dynamic" version="5.34.36.11" targetFramework="net452" />
  <package id="ROOT.NET.Graphing" version="5.34.36.11" targetFramework="net452" />
  <package id="ROOT.NET.PROOF" version="5.34.36.11" targetFramework="net452" />
  <package id="ROOT.NET.Tree" version="5.34.36.11" targetFramework="net452" />
  <package id="Sprache" version="2.0.0.52" targetFramework="net452" />
  <package id="SSH.NET" version="2016.0.0-beta1" targetFramework="net452" />
  <package id="Z.ExtensionMethods" version="2.0.10" targetFramework="net452" />
</packages>